#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list ul{
  min-width: 60%;
}
.btn{
  margin:  .2rem;
}
h1{
  margin-bottom: 1.5rem;
}
h4{
  margin: 1.5rem;
}
.list-group{
  margin: .2rem;
}